
.page_block {
    background-color: #333336;
    margin-bottom: 10px;
    padding: 15px;
    border-radius: 3px;
}

.columns {
    display: flex;

}

.narrow_column {
    width: 30%;
    margin-right: 12px;
}

.wide_column {
    width: 70%;
    border-radius: 3px;
}



