.wrapper {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #181718;
  overflow: hidden;
}

.stickersWrapper {
  display: none;
  position: absolute;
  bottom: 0;
  margin-left: 30px;
  padding-bottom: 30px;
  width: 300px;
  height: 320px;
}

.stickersMenu {
  width: 280px;
  height: 300px;
}

.stickersBubbleSubNav {
  border-radius: 10px 10px 0 0;
  display: flex;
  flex-direction: row;
  background-color: #212121;
  border-bottom: 1px solid #191919;
  height: 40px;
  width: 260px;
}

.stickersBubbleContent {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 260px;
  height: 220px;
  background-color: #212121;
}

.emojiPacWrapper {
  margin-bottom: 13px;
}

.emojiPacName {
  color: #8e8e8e;
  margin-bottom: 7px;
}

.singleEmoji {
  cursor: pointer;
}

.stickersBubbleContent::-webkit-scrollbar {
  width: 2px;
  background: transparent;
}

.stickersBubbleContent::-webkit-scrollbar-thumb {
  background-color: #3F3F3F;
  outline: 1px solid #3F3F3F;
}

.stickersBubbleNav {
  display: flex;
  border-radius: 0 0 10px 10px;
  justify-content: center;
  align-items: center;
  background-color: #212121;
  border-top: 1px solid #191919;
  height: 45px;
  width: 260px;
}

.stickerNavIcon {
  padding: 5px;
  border: 2px solid #212121;
  border-radius: 50%;
  width: 1.5em;
  height: 1.5em;
  color: #7f7f7f;
  &:hover {
    background-color: #2c2c2c;
  }
}

.stickerNavIcon.selected {
  border: 2px solid #8774E1;
}

.stickerNavIcon.active {
  color: #8774E1;
  background-color: #212121;
}

.navButton {
  border: 0;
  background-color: #212121;
  cursor: pointer;
  &:first-child {
    margin-right: 10px;
  }
}


.singleEmoji {
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: #2c2c2c;
  }
}

.singleSticker {
  max-width: 70px;
  padding: 5px 5px 5px 5px;
}

.button.smile:hover + .stickersWrapper {
  display: flex;
}

.stickersWrapper:hover {
  display: flex;
}

.input {
  margin: 0 20px 0 30px;
  padding: 17px 17px 17px 44px;
  height: 19px;
  width: 67%;
  border: none;
  color: #fff;
  background-color: #212121;
  border-radius: 10px;
  cursor: text;
  &:focus {
    outline:none;
  }
}

.button {
  border: 0;
  background-color: #212121;
}

.button.smile {
  position: absolute;
  margin: 10px 10px 10px 40px;
}

.button.paperClip {
  position: absolute;
  margin: 10px 10px 10px 400px;
}

.button.send {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: background-color .1s linear;
  &:hover {
    background-color: #8774E1;
  }
}

.button.send:hover .sendIcon {
  transition: color .1s linear;
  color: #fff;
}

.smilesIcon, {
  color: #7f7f7f;
  transition: color .2s linear;
  width: 1.3em;
  height: 1.3em;
  &:hover {
    color: #8774E1;
  }
}

.paperClipIcon {
  color: #7f7f7f;
  transition: color .2s linear;
  width: 1.5em;
  height: 1.5em;
  &:hover {
    color: #8774E1;
  }
}

.button.paperClip:hover  + .addFileWrapper {
  display: flex;
}
.addFileWrapper:hover {
  display: flex;
}
.addFileWrapper {
  display: none;
  flex-direction: row-reverse;
  position: absolute;
  margin: -140px 10px 17px 250px;
  width: 180px;
  height: 170px;
}

.addFileBubbleMenu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 180px;
  height: 130px;
  background-color: #212121;
  border-radius: 10px;
  cursor: pointer;
}

.addFileBubbleMenuItem {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 4px;
  width: 180px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-align: left;
  background-color: #212121;
  &:hover {
    background-color: #2c2c2c;
  }
}

.addFileBubbleIcon {
  margin-right: 10px;
  color: #aaa;
  width: 1.2em;
  height: 1.2em;
}

.sendIcon {
  color: #8774E1;
  width: 1.3em;
  height: 1.3em;
}

.trampleyWrapper {
  background-color: #181718;
  height: 200px;
}


