.wrapper {
  padding-bottom: 10px;
  display: flex;
  align-items: center;
  background-color: #181718;
}

.stickersBubbleMenuWrapper {
  display: none;
  flex-direction: row-reverse;
  position: absolute;
  margin: 0 10px 65px 35px;
  width: 240px;
  height: 75px;
}

.stickersBubbleMenu {
  padding: 0 5px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 240px;
  height: 35px;
  background-color: #212121;
  border-radius: 10px;
}

.emoji {
  padding: 3px;
  border-radius: 3px;
  cursor: pointer;
  &:hover {
    background-color: #2c2c2c;
  }
}

.button.smile:hover  + .stickersBubbleMenuWrapper {
  display: flex;
}
.stickersBubbleMenuWrapper:hover {
  display: flex;
}

.input {
  margin: 0 20px 0 30px;
  padding: 17px 17px 17px 44px;
  height: 19px;
  width: 67%;
  border: none;
  color: #fff;
  background-color: #212121;
  border-radius: 10px;
  cursor: text;
  &:focus {
    outline:none;
  }
}

.button {
  border: 0;
  background-color: #212121;
}

.button.smile {
  position: absolute;
  margin: 10px 10px 10px 40px;
}

.button.paperClip {
  position: absolute;
  margin: 10px 10px 10px 400px;
}

.button.send {
  border-radius: 50%;
  height: 50px;
  width: 50px;
  transition: background-color .1s linear;
  &:hover {
    background-color: #8774E1;
  }
}

.button.send:hover .sendIcon {
  transition: color .1s linear;
  color: #fff;
}

.smilesIcon, {
  color: #7f7f7f;
  transition: color .2s linear;
  width: 1.3em;
  height: 1.3em;
  &:hover {
    color: #8774E1;
  }
}

.paperClipIcon {
  color: #7f7f7f;
  transition: color .2s linear;
  width: 1.5em;
  height: 1.5em;
  &:hover {
    color: #8774E1;
  }
}

.button.paperClip:hover  + .addFileBubbleMenuWrapper {
  display: flex;
}
.addFileBubbleMenuWrapper:hover {
  display: flex;
}
.addFileBubbleMenuWrapper {
  display: none;
  flex-direction: row-reverse;
  position: absolute;
  margin: -140px 10px 17px 250px;
  width: 180px;
  height: 170px;
}

.addFileBubbleMenu {
  display: flex;
  justify-content: space-around;
  flex-direction: column;
  width: 180px;
  height: 130px;
  background-color: #212121;
  border-radius: 10px;
}

.addFileBubbleMenuItem {
  display: flex;
  align-items: center;
  border: 0;
  border-radius: 4px;
  width: 180px;
  height: 55px;
  color: #fff;
  cursor: pointer;
  font-size: 18px;
  text-align: left;
  background-color: #212121;
  &:hover {
    background-color: #2c2c2c;
  }
}

.addFileBubbleIcon {
  margin-right: 10px;
  color: #aaa;
  width: 1.2em;
  height: 1.2em;
}

.sendIcon {
  color: #8774E1;
  width: 1.3em;
  height: 1.3em;
}

.trampleyWrapper {
  background-color: #181718;
  height: 200px;
}


