.tabMenu {
  margin: auto;
  max-width: 270px;
  padding-top: 4px;
}

.items::-webkit-scrollbar {
  width: 0;
  background: transparent;
}

.items {
  display: flex;
  flex-direction: row;
  overflow-x: scroll;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.btn {
  border-radius: 12% 12% 0 0;
  background-color: #212121;
  padding: .625rem;
  padding-bottom: 1px;
  color: #707579;
  cursor: pointer;
  border: none;
}

.btn:hover {
  background-color: #2b2b2b;
}

.btn::after {
  padding-top: 2px;
  content: '';
  border-bottom: 2px solid #212121;
  width: 95%;
  display: block;
  margin: 0 auto;
}

.active {
  color: #8774E1;
}
.active:hover {
  background-color: #212121;
  cursor: default;
}

.active::after {
  padding-top: 2px;
  content: '';
  border-bottom: 2px solid #8774E1;
  width: 95%;
  display: block;
  margin: 0 auto;
}

