.img {
  width: 302px;
  padding: 0 8px;
  cursor: pointer;
}

.bitImg {
  height: 700px;
}

.modelOpen {
  position: fixed;
  top: 0;
  left: 0;

  display: flex;
  z-index: 1000;

  background-color: rgba(0, 0, 0, .8);
  width: 100%;
  height: 100%;

  justify-content: center;
  align-items: center;

  cursor: pointer;
}

.my-masonry-grid_column > div { /* change div to reference your elements you put in <Masonry> */
  background: grey;
  margin-bottom: 0;
}

