.wrapper {
  display: flex;
  flex-direction: column-reverse;
  background-color: #181718;
  height: 80vh;
  padding-bottom: 2vh;
  overflow-y: scroll;

  @media (min-width: 1400px) {
    height: 86vh;
  }
}

.wrapper::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #3F3F3F;
  outline: 1px solid #3F3F3F;
}
