.chatWrapper {
  border-radius: 10px;
  padding-top: 5px;
  margin: 0 8px;
  border-bottom: #1f1e1e 1px solid;
  height: 67px;
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  cursor: pointer;
}

.wrapper {
  overflow-y: scroll;
}

.wrapper::-webkit-scrollbar {
  width: 3px;
  background: transparent;
}

.wrapper::-webkit-scrollbar-thumb {
  background-color: #3F3F3F;
  outline: 1px solid #3F3F3F;
}

.active {
  background-color: #8774E1;
}

.img {
  margin: 0 7px;
  width: 60px;
  height: 60px;
  border-radius: 50%;
}

.nameAndMessage {
  height: 100%;
}

.name {
  margin: 6px 0;
  color: white;
  font-weight: 600;
  font-size: 14px;
}

.message {
  color: #707579;
  font-size: 14px;
}

.message.active {
  color: #fff;
}


