body {
    margin: 0;
    padding: 0;
    background-color: #222226;
}

.app_wr {
    margin: 0 auto;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 1fr 4fr;
    grid-template-areas: "nav profile";

    max-width: 960px;
}

.Nav {
    grid-area: nav;
}

.Profile {
    grid-area: profile;
}