body {
    margin: 0;
    padding: 0;
    background-color: #222226;

    font-family: Roboto,sans-serif;
}

.app_wr {
    margin: 0 auto;
    margin-top: 10px;

    display: grid;
    grid-template-columns: 160px 1fr;

    max-width: 960px;
}

.Nav {
    grid-area: nav;
}

.Profile {
    grid-area: profile;
}