

.li_wr {
    display: flex;
    border-radius: 3px;
    align-items: start;


}

.li_wr svg {
    padding: 0 8px;
}

.li_wr a {
    display: flex;
    width: 100%;
    align-items: center;
    padding: 7px 0;
}

.li_wr:hover {
    background-color: #333336;
}

.li {
    font-size: 13px;
    color: #777;
    width: 85%;


    cursor: pointer;

    text-decoration: none;
}